@use "../../assets/styles/variables" as *;

.hero {
  background-color: $smoke-color;
  :global(.container) {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // justify-content: ;
  }
}
.heroSubtitle {
  margin-bottom: 20px;
}
.heroCTA {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  a {
    padding: 8px 16px;
    text-decoration: none;
  }
}
.heroCTA1 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: $primary-color;
  color: white;
  &:hover {
  }
}
.heroCTA2 {
  background-color: white;
  color: $primary-color;
}

.aboutContent,
.servicesContent,
.whyUsContent,
.statistiquesContent,
.teamContent,
.testimonialsContent,
.contactContent {
  display: grid;
  gap: 1rem;
}

.services {
  // text-align: center;
  //   background-color: whitesmoke;
  :global(.title),
  :global(.subtitle) {
    text-align: start;
  }
}
.servicesList {
  display: grid;
  gap: 1rem;
}
.service {
  background-color: $smoke-color;
  text-align: start;
  text-wrap: balance;
  //   color: white;
  padding: 40px;
}

.about,
.whyUs {
  background-color: $smoke-color;

  ul {
    list-style-type: "✅";
    li {
      margin-left: 40px;
      font-size: 1.2rem;
      padding: 10px;
    }
  }
}
.aboutIllustration,
.whyUsIllustration,
.contactIllustration {
  // height: 500px;
  display: grid;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
}
.statistiquesContent {
  gap: 2rem;
  //   background-color: $smoke-color;
}
.statistique {
  padding: 40px;
  color: $primary-color;
  font-weight: bold;
  font-size: 2rem;
  //   background-color: ;
}

.team {
  display: none;
  text-align: center;
}
.teamContent {
}
.member {
  // display: grid;
  // gap: 1rem;
  //   img {
  //     width: 200px;
  //     height: auto;
  //     background-color: gray;
  //     border-radius: 50%/50%;
  //   }
  .memberImg {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    background-color: gray;
    margin-bottom: 10px;
  }
}

// .testimonialsList {
//   display: grid;
//   gap: 1rem;

//   .testimonial {
//     padding: 20px;
//     background-color: white;
//     border-radius: $small-raduis;
//   }
// }
.reservation {
  text-align: center;
  background-color: $primary-color;
  :global(.title),
  :global(.subtitle) {
    color: white;
    &::first-letter{
      color: white;
    }
  }
}
.reservationContent {
  display: grid;
  justify-content: center;
}
.reservationCTA {
  display: flex;
  gap: 0.5rem;
  padding: 8px 16px;
  text-decoration: none;
  align-items: center;
  background-color: white;
  color: $primary-color;
  // max-width: 200px;
  // margin: 0 auto;
  &:hover {
  }
}

.contactText {
  display: grid;
  gap: 1rem;
}

@media #{$desktop} {
  .aboutContent,
  .whyUsContent,
  .testimonialsContent,
  .contactContent {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .whyUsContent {
    grid-template-areas: "text img";
  }
  .whyUsText {
    grid-area: text;
  }
  .whyUsIllustration {
    grid-area: img;
  }

  .servicesContent {
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
  }
  .servicesList {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .teamContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .statistiquesContent {
    display: flex;
    justify-content: space-evenly;
  }
}
