@use "../../assets/styles/variables" as *;

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.412) 0 1px 10px;
  :global(.container) {
    padding: 30px;
  }
}

.navContent {
  display: flex;
  justify-content: space-between;
}

.logo a {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: $primary-color;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.menuItem a{
  color: inherit;
  transition: .3s;
  text-transform: uppercase;
  &:hover{
    color: $primary-color;
  }
}
