@use "../../assets/styles/variables" as *;

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.412) 0 1px 10px;
  :global(.container) {
    padding: 30px;
  }
}

.navContent {
  display: flex;
  justify-content: space-between;

  a {
    all: unset;
    transition: 0.3s;
    &:hover {
      color: $primary-color;
    }
  }
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
