@use "../../assets/styles/variables" as *;

.testimonial {
  background-color: white;
  padding: 40px;

  svg:nth-child(1) {
    width: 40px;
    height: 40px;
  }
}

.message {
  margin: 20px 0;
}

.patient {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  svg {
    display: none;
    // width: 30px;
    // height: 30px;
  }
}
