$primary-color: #22665a;
$primary-light-color : #228271;
$smoke-color : whitesmoke;  
$dark-color : black;
$dark-light-color : #5f6e7a;
$small-raduis : 0;
$input-raduis : 5px;
//responsive
$desktop: "only screen and ( min-width : 920px)";
