@use "../../assets/styles/variables" as *;
.hero {
  background-color: $primary-color;
  color: white;
  :global(.bigTitle){
    margin-bottom: 20px;
 
  }
}
.main{
  
  background-color: $smoke-color;
}



